// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.no-box-shadow
   box-shadow: none

.title-text
   font-weight: bold
   font-size: 18px

.border-radius
   border-radius: 10px

.robotoCondensed
   font-family: 'Roboto Condensed', sans-serif

.main-color
   color: #0055b7;

.btn-stl
   border: #0055b7 solid 1px
   border-radius: 5px
   font-size: 13px
   color: #0055b7;

.text_center
   text-align: center

.mx_auto
   margin-left: auto;
   margin-right: auto; 

.align-right
   text-align: right

.submenu_size
   font-size: 14px

.submenu_height
   height: 30px;

.v-list__tile
   height: 30px;

.border_bottom
   border-bottom: 1px solid #ccc;

.news_list
   border-bottom: 1px solid #ccc;

.news_list:last-child
   border-bottom: none;

.submenu_list
   border-bottom: 1px solid #ccc

.submenu_list:hover
  background-color:rgb(164,185,239)
  opacity: 0.6

.submenu_list_active
  background-color:rgb(164,185,239)
  opacity: 0.6

.submenu_list:last-child
   border-bottom: none

.width_nf
   width: 95%

.hover
   transition: opacity .1s ease-in-out;

.hover:hover, .hover:active
   opacity: 0.5;

.submenu
   color: black
   text-decoration: none